function Score.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push argument 0
pop this 2
push constant 1
pop this 1
push pointer 0
return
function Score.init 0
push argument 0
pop pointer 0
push pointer 0
call Score.draw 1
pop temp 0
push constant 0
return
function Score.next 1
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call Pellets.getCapturedCount 1
push constant 10
call Math.multiply 2
pop local 0
push local 0
push this 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
pop this 0
push pointer 0
call Score.draw 1
pop temp 0
label IF_FALSE1
push constant 0
return
label IF_FALSE0
push this 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call Pellets.getCapturedCount 1
push constant 20
call Math.multiply 2
pop local 0
push local 0
push this 0
eq
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
pop this 0
push pointer 0
call Score.draw 1
pop temp 0
label IF_FALSE3
push constant 0
return
label IF_FALSE2
push this 1
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
call Pellets.getCapturedCount 1
push constant 30
call Math.multiply 2
pop local 0
push local 0
push this 0
eq
not
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 0
pop this 0
push pointer 0
call Score.draw 1
pop temp 0
label IF_FALSE5
push constant 0
return
label IF_FALSE4
push constant 0
return
function Score.draw 0
push argument 0
pop pointer 0
push constant 2
push constant 52
call Output.moveCursor 2
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
push constant 7
push constant 52
call Output.moveCursor 2
pop temp 0
push this 1
call Output.printInt 1
pop temp 0
push constant 0
return
function Score.getscore 0
push argument 0
pop pointer 0
push this 0
return
function Score.getlevel 0
push argument 0
pop pointer 0
push this 1
return
function Score.setlevel2 0
push argument 0
pop pointer 0
push constant 2
pop this 1
push this 1
return
function Score.setlevel3 0
push argument 0
pop pointer 0
push constant 3
pop this 1
push this 1
return
function Score.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
