sp
call main.Main 0 
ep

funcion Main 0
    push constant 22
    push constant 7 
    call Mod2.Mod 2
    pop static 0
    push constant 25
    push constant 4
    call Div2.Div 2
    pop static 1 
    push constant 5
    call fibonacci.fib 1 
    pop static 2
    push constant 12
    push constant 15
    push constant 27
    call mid.mid 3
    pop static 3
    return 
